* {
	font-family: sans-serif;
	font-weight: 600;
}
body {
	margin: 0;
	padding: 0;
	background-color: #593e66;
}

#top-menu {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: #ff005c;
	padding: 10px;
	display: flex;
	align-items: center;
}

#top-menu #logo {
	margin: auto;
}

#menu-icon {
	right: 5%;
	position: fixed;
	cursor: pointer;
	padding: 10px;
}

#menu-icon span {
	display: block;
	width: 37px;
	height: 5px;
	background-color: white;
	margin-bottom: 5px;
	border-radius: 10px;
}

#menu {
	display: none;
	position: fixed;
	top: 65px;
	right: -30%;
	width: 25%;
	height: 100%;
	background-color: #ff005c;
	padding: 10px;
}

#menu ul {
	list-style-type: none;
}

#menu li {
	margin-bottom: 10px;
	font-size: 20px;
}

#menu a {
	text-decoration: none;
	color: #593e66;
	transform: translateX(0); /* Mostra o menu quando estiver ativo */
}

#menu.active {
	display: block;
	right: 0;
	animation: expandMenu 0.2s ease-in-out;
}

@keyframes expandMenu {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

#btnVoltar {
	background-image: url("img/voltar.png");
	background-size: contain;
	position: fixed;
	width: 100px;
	height: 100px;
	margin: 20px;
	bottom: 0;
}

#content {
	min-width: 500px;
	max-width: 700px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 100px auto;
	padding: 7px;
}

.card {
	display: flex;
	padding: 10px;
	margin: 1%;
	border-radius: 15px;
	text-align: center;
	align-items: center;
	text-decoration: none;
	border: 1px #45314e solid;
}

.card:hover {
	box-shadow: 4px 3px 12px 0px #45314e;
	transform: scale(101%);
}

#dicas {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 375px;
	height: 345px;
	font-size: 120%;
	color: white;
	background-color: #246aff;
}

#horarios {
	font-size: 120%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 375px;
	height: 280px;
	background-color: #ffd100;
}
